# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
*.log

# Virtual environment
.venv/
venv/
ENV/
env/

# =========================
# AIRFLOW
# =========================
airflow/logs/
airflow/*.pid
airflow/*.err
airflow/*.out

# Airflow DB
airflow/airflow.db

# =========================
# SPARK
# =========================
spark-warehouse/
metastore_db/
.derby/
*.parquet
*.orc

# =========================
# KAFKA / STREAMING DATA
# =========================
data/raw/
data/processed/
data/checkpoints/
data/alerts/
data/reports/

# Streaming state / checkpoints
checkpoints/
state/

# =========================
# JUPYTER NOTEBOOK
# =========================
.ipynb_checkpoints/

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# ENV FILES (SECURITY)
# =========================
.env
*.env

# =========================
# DOCKER (optional logs)
# =========================
docker-compose.override.yml